<div class="dashboard-main-box">
  <div class="profile-box">
    <%= image_tag user_image_url(current_user), class: "avatar-dashboard" %>
    <div>
      <h2> <%= @user.username %> </h2>
      <hr class="dsh-hr">
    </div>
    <div>
      <p><strong>Progress: </strong><%= @user.progresses.where(status: "Finished").size %> / <%= Course.all.count %></p>
      <p><strong>Achievements: </strong></p>
      <div class="cards">
        <%= image_tag "badge1.jpg", class: "achievement-badge", title: "AlgoLearning Member" %>
        <%= image_tag "badge2.jpg", class: "achievement-badge", title: "AlgoNovice" if @user.progresses.where(status: "Finished").size > 2 %>
        <%= image_tag "badge3.jpg", class: "achievement-badge", title: "AlgoBegginer" if @user.progresses.where(status: "Finished").size > 3 %>
        <%= image_tag "badge4.jpg", class: "achievement-badge", title: "AlgoLearner" if @user.progresses.where(status: "Finished").size > 5 %>
        <%= image_tag "badge5.jpg", class: "achievement-badge", title: "AlgoExpert" if @user.progresses.where(status: "Finished").size > 7 %>
        <%= image_tag "badge6.jpg", class: "achievement-badge", title: "AlgoMaster" if @user.progresses.where(status: "Finished").size > 9 %>
      </div>
    </div>
  </div>
  <div class="cards">
    <% @user.progresses.each do |progress| %>
      <%= link_to progress.course do %>
        <div class="card-category-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= course_image_url(progress.course) %>')">
          <%= progress.course.name %>
          <span class="status-box">
            <% if progress.status == "Finished" %>
              Completed <i class="fas fa-check-circle"></i>
            <% elsif %>
              In Progress <i class="fas fa-spinner"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
