<div class="container">
	<%= form_with model: @course, local: true do |form| %>

		<div class="form-inputs">
			<%= form.label :name %><br>
			<%= form.text_field :name, class: "form" %><br>
			<%= form.label :photo %><br>
			<%= form.file_field :photo %><br>
			<%= form.label :description %><br>
			<%= form.text_field :description, class: "form" %><br>
			<%= form.label :Lecture %><br>
			<div class="lecture">
				<%= form.rich_text_area :body, class: "action-text" %>			
			</div><br>
			<%= form.label :code %><br>
			<%= form.text_field :code, class: "form" %><br>
			<%= form.label :video %><br>
			<%= form.text_field :video, class: "form" %><br>
			<%= form.label :category %><br>
			<%= form.text_field :category, class: "form" %><br>
			<%= form.label :difficulty %><br>
			<%= form.text_field :difficulty, class: "form" %>		
		</div><br>

		<div class="form-actions">
			<%= form.submit%>
		</div>
	<% end %>
</div>

<%#  <div class="container">
	 simple_form_for(course) do |f| %>

		<%#<div class="form-inputs">
			<%= f.input :name %>
			<%#<%= f.input :photo, as: :file %>
			<%#<%= f.input :description %>
			<%#<%= f.label :body %>
			<%#<div class="lecture">
				<%= f.rich_text_area :body, class: "action-text" %>
			<%#</div>
			<%#<%= f.input :code %>
			<%#<%= f.input :video %>
			<%#<%= f.input :category %>
			<%#<%= f.input :difficulty %>
		<%#</div>
		
		<div class="form-actions">
			<%= f.button :submit , class: "btn btn-primary"%>
		<%#</div>
	<% end %>
<%#</div>
