<div class="container text-center">
  <%= image_tag "logo.png", class: "m-4" %>
</div>



<div class="mt-0 mx-auto w-full md:w-256 max-w-full">
<h3 class="text-lg text-center">AlgoLearning Team</h3>



<div class="container align-center aboutteam">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters align-center">
      <div class="col-md-4">
        <a href="https://github.com/flaviomahoney" target=”_blank”><%= image_tag "Flavio.png", class: "card-img "%></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Flavio Mahoney</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 ml-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="https://github.com/Leopyy" target=”_blank”><%= image_tag "Leo.png", class: "card-img" %></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Leonardo Figueira</h5>
          <p class="card-text">Front-Endless guy</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="https://github.com/itamarlewagon" target=”_blank”><%= image_tag "Itamar.png", class: "card-img" %></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Itamar Pereira</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 ml-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="https://github.com/vkaraujo" target=”_blank”><%= image_tag "Viktor.png", class: "card-img" %></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Viktor Waissmann</h5>
          <p class="card-text">Blackout</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
<div>


<div class="container text-center">
  <h3>Our Mission</h3>

</div>


