<div class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
				<%= link_to "Lecture", lecture_course_path(@course) , class: "nav-link nav-link-grey" %>
      </li>
      <li class="nav-item active">
				<strong><%= link_to "Exercise", code_course_path(@course) , class: "nav-link nav-link-dark" %></strong>
      </li>
			<li class="nav-item">
				<%= link_to "Hint", video_course_path(@course) , class: "nav-link nav-link-grey" %>
      </li>
    </ul>
</div>

<div class="container mt-4">
  <%number = 0%>
  <% @course.exercises.each do |element| %>
    <%number = number + 1%>
    <div class="wrap-collabsible">
      <input id="collapsible-<%=element.id%>" class="toggle" type="checkbox">
      <label for="collapsible-<%=element.id%>" class="lbl-toggle d-flex justify-content-center align-items-center" id="margin" tabindex="0">Exercise <%=number%> 
      <% if element.difficulty == "Easy" %>
            <span class="card-tag-exercise easy-exercise ml-3"><%= element.difficulty %></span>
          <% elsif element.difficulty == "Medium" %>
            <span class="card-tag-exercise medium-exercise ml-3"><%= element.difficulty %></span>
          <% elsif element.difficulty == "Hard" %>
            <span class="card-tag-exercise hard-exercise ml-3"><%= element.difficulty %></span>
          <% end %> 
      </label>
      <div class="collapsible-content">
        <div class="content-inner">
          <%= element.code%>
          To do the exercise: <a href="https://repl.it/languages/ruby" target="_blank">Click Here</a>
        </div>
      </div>
    </div>
  <%end%>

 
    <%= link_to "Conclude Course!", course_progress_path(@course, @progress, progress: {status: "Finished"}), class: "btn btn-conclude", method: :patch  %>
   

</div>
