<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
				<%= link_to "Lecture", lecture_course_path , class: "nav-link nav-link-grey" %>
        <%# <a class="nav-link nav-link-grey" href="">Lecture <span class="sr-only">(current)</span></a> %>
      </li>
      <%# <li class="nav-item">
				<%= link_to "Slides", visualization_course_path , class: "nav-link nav-link-grey" %>
        <%# <a class="nav-link nav-link-grey" href="#">Visualization</a> %>
      <%# </li> %>
      <li class="nav-item active">
				<strong><%= link_to "Exercise", code_course_path , class: "nav-link nav-link-dark" %></strong>
        <%# <a class="nav-link" href="#">Exercise(Code)</a> %>
      </li>
			<li class="nav-item">
				<%= link_to "Hint", video_course_path , class: "nav-link nav-link-grey" %>
        <%# <a class="nav-link" href="#">Video(Hint)</a> %>
      </li>
    </ul>
  </div>
</div>

<div class="container mt-4">
  <%number = 0%>
  <% @course.exercises.each do |element| %>
    <%number = number + 1%>
    <div class="wrap-collabsible">
      <input id="collapsible-<%=element.id%>" class="toggle" type="checkbox">
      <label for="collapsible-<%=element.id%>" class="lbl-toggle" id="margin" tabindex="0">Exercise <%=number%> </label>
      <div class="collapsible-content">
        <div class="content-inner">
          <%= element.code%>
          To do the exercise: <a href="https://repl.it/languages/ruby" target="_blank">Click Here</a>
        </div>
      </div>
    </div>
  <%end%>

 
    <%= link_to "Conclude", course_progress_path(@course, @progress, progress: {status: "Finished"}), class: "btn btn-secondary", method: :patch  %>
   

</div>
