

<div class="container mt-3">
  <div class="inline-block d-flex" >
   <div style="width: 400px" class="mr-3">
    <%= form_tag courses_path, method: :get do %>
      <%= select_tag :query, options_for_select(ActsAsTaggableOn::Tag.pluck(:name)),
        class: "form-control select2",
        multiple: "multiple",
        placeholder: "Find a course"
      %></div>
      <div>
      <%= submit_tag "Search", class: "btn btn-primary" %></div>
    <% end %>
  </div>
  <br>
  <% if policy(Course).create? %>
   <%= link_to 'Add Course', new_course_path, class: "btn btn-blue mb-3" %>
  <% end %>

  <div class="cards">
    <% @courses.each do |course| %>
      <div class= "cards-course">
        <%= link_to course do %>
        	<img class="card-photo-cp" src="<%= course_image_url(course) %>" alt="">
        <% end %>
        <%= link_to course do %>
      		<div class="card-info">
      			<h2><%= course.name %></h2>
      		</div>
        <% end %>
        <div class="card-tag-box">
          <%= link_to video_course_path(course.id) do %>
            <p class="comment-counter-box"> <%= course.comments.count %> <i class="far fa-comment-alt"></i></p>
    	    <% end %>
          <p class="card-tag"><%= course.category %></p>
    	    <% if course.difficulty == "Easy" %>
            <p class="card-tag easy"><%= course.difficulty %></p>
          <% elsif course.difficulty == "Medium" %>
            <p class="card-tag medium"><%= course.difficulty %></p>
          <% elsif course.difficulty == "Hard" %>
            <p class="card-tag hard"><%= course.difficulty %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

