<div class="container mt-3">
  <% if policy(Course).create? %>
   <%= link_to 'Add Course', new_course_path, class: "btn btn-blue mb-3" %>
  <% end %>

  <div class="card-container">
    <% @courses.each do |course| %>
      <%= link_to course do %>
        <div class= "cards-course d-flex align-items-center mb-3">
      		<img class="card-photo-cp" src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
      		<div class="card-info">
      			<h2><%= course.name %></h2>
      		</div>
          <div class="card-tag-box">
      	    <p class="btn card-tag"><%= course.category %></p>
      	    <p class="btn card-tag"><%= course.difficulty %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
