<div class="container">
  <% if policy(Course).create? %>
    <%= link_to 'Add Course', new_course_path, class: "btn btn-primary" %>
  <% end %>
		<% @courses.each do |course| %>
			<h2><%=link_to "#{course.name}", course %></h2>
			<p><%= course.description %></p>
			<p>Category: <%= course.category %></p>
			<p>Difficulty: <%= course.difficulty %></p>
		<% end %>
</div>
