<div class="container mt-3">
  <% if policy(Course).create? %>
   <%= link_to 'Add Course', new_course_path, class: "btn btn-blue mb-3" %>
  <% end %>

  <div class="card-container">
    <% @courses.each do |course| %>
      <div class= "cards-course d-flex align-items-center mb-4">
        <%= link_to course do %>
        	<img class="card-photo-cp" src="<%= course_image_url(course) %>" alt="">
        <% end %>
        <%= link_to course do %>
      		<div class="card-info">
      			<h2><%= course.name %></h2>
      		</div>
        <% end %>
        <div class="card-tag-box">
          <p class="btn card-tag"><a href="<%= root_path %>courses/<%= course.id %>/comments#disqus_thread">0 Comments</a></p>
    	    <p class="btn card-tag"><%= course.category %></p>
    	    <p class="btn card-tag"><%= course.difficulty %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script id="dsq-count-scr" src="//https-algolearning-herokuapp-com.disqus.com/count.js" async></script>
