<div style="background-color: rgb(93, 224, 177);">
  <p><%= @course.name %></p>
  <p><%= @course.description %></p>
  <p>Category: <%= @course.category %></p>
  <p>Difficulty: <%= @course.difficulty %></p>

  <!-- <%= link_to "Go to course", course_path(course), class: "btn btn-gray" %> -->
  
</div>
