<div class="container mt-3 w-50">
  <div class="container w-75 mb-3">
    <div class="card-category-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= course_image_url(@course) %>')">
    <%= @course.name %>
    </div>
  </div>

  <p><%= @course.description %></p>
  <p><strong>Category: </strong><%= @course.category %></p>
  <p><strong>Difficulty: </strong><%= @course.difficulty %></p>

  <% if policy(Course).lecture? %>
    <%= link_to "Join Our Class", lecture_course_path, class: "btn btn-blue" %>
  <% end %>

  <% if policy(Course).update? %>
    <%= link_to "Update", edit_course_path(@course), class: "btn btn-green" %>
  <% end %>

  <% if policy(Course).destroy? %>
    <%= link_to course_path(@course), class: "btn btn-red", method: :delete, data: { confirm: 'Are you sure?' } do %>
          Remove <i class="fas fa-trash"></i>
        <% end %>
  <% end %>
</div>
