<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
				<%= link_to "Lecture", lecture_course_path , class: "nav-link nav-link-grey" %>
        <%# <a class="nav-link nav-link-grey" href="">Lecture <span class="sr-only">(current)</span></a> %>
      </li>
      <%# <li class="nav-item">
				<%= link_to "Slides", visualization_course_path , class: "nav-link nav-link-grey" %>
        <%# <a class="nav-link nav-link-grey" href="#">Visualization</a> %>
      <%# </li> %>
      <li class="nav-item">
				<%= link_to "Exercise", code_course_path , class: "nav-link nav-link-grey" %>
        <%# <a class="nav-link" href="#">Exercise(Code)</a> %>
      </li>
			<li class="nav-item active">
				<strong><%= link_to "Hint", video_course_path , class: "nav-link nav-link-dark" %></strong>
        <%# <a class="nav-link" href="#">Video(Hint)</a> %>
      </li>
    </ul>
  </div>
</div>


<div class='videobox mt-4'>

  <iframe class="videobox" src= "<%= @course.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="container comments-box mt-4">

  <div text-center>

    <%= simple_form_for [@course, Comment.new], remote: true do |f| %>

      <div class="form-inputs">
        <%= f.input :description, label: 'New Comment:' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-blue", label: 'Comment', value: "Comment" %>
      </div>
    <% end %>
    <br>
    <% if @course.comments.count != 0 %>
      <% @course.comments.each do |comment| %>
        <div class="comment-box">
          <div class="mr-2">
          <%= image_tag user_image_url(comment.progress.user), class: "comment-avatar" %>
          </div>
          <div class="comment-container"><i class="author">
            <span><%= comment.progress.user.username %></span>
            <small><%= comment.created_at.in_time_zone(-3).strftime("%a %b %e at %H:%M") %>

            <%= link_to comment_path(comment, vote: :upvote), method: :patch do %>
              <i class="fas fa-caret-up" style="color: green"></i>
            <% end %>
            <%= comment.weighted_score %>
            <%= link_to comment_path(comment, vote: :downvote), method: :patch do %>
              <i class="fas fa-caret-down" style="color: red"></i>
            <% end %>

            </small>
          </i>
          <p><%= comment.description %></p></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

